torch
torchvision
numpy~=1.2
tqdm
tensorboard
matplotlib
wandb
regex
pandas
speechbrain~=0.5.9
torchaudio~=0.9.1
datasets
torch_audiomentations
editdistance
matplotlib
torchaudio_augmentations
torch-optimizer
fast_ctc_decode
gdown